
#noticiastitle {
	position: relative;
	float: right;
	bottom: 30px;
	right: 200px;
}
/*
#geocoding_form{
	position: relative;
	float: left;
	bottom: 500px;
	left: 30px;
	margin-top: 39px;
}
*/
#twitter-ticker{
	  position: relative;
	  bottom: 405px; 
	  margin: 0;
	  margin-right: 10px;
	  padding: 5px;
	  width: 300px;
	  height: 400px;
	  background:#cccccc;
	  float: right;
}

#tweet-container{
/* This is where the tweets are inserted */
height: 400px;
width: 200px;
overflow: hidden;
}

.tweet{
	/* Affects the tweets */
	padding:5px;
	margin:0 8px 8px;

	border:1px solid #F0F0F0;
	background:url(img/transparent.png);

	width:auto;
	overflow:hidden;
}

.tweet .avatar,
.tweet .user,
.tweet .time{
	float:left;
}

.tweet .time{
	text-transform:uppercase;
	font-size:10px;
	color:#AAAAAA;
	white-space:nowrap;
}

.tweet .avatar img{
	width:36px;
	height:36px;
	border:2px solid #eeeeee;
	margin:0 5px 5px 0;
}

.tweet .txt{
	/* Using the text container to clear the floats */
	clear:both;
}

.tweet .user{
	font-weight:bold;
}

a, a:visited {
	/* Styling the links */
	color:#00BBFF;
	text-decoration:none;
	outline:none;
}


.fullwidth {
	width: 100%;
}
.center {
	text-align: center;
}

#main_title {
	font-family: 'Convergence';
	color: #727272;	
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.26);
	
}


.poppin{
	background: none repeat scroll 0 0 #FFFFFF;
    	border-radius: 2px 2px 2px 2px;
    	box-shadow: 0 0 20px #999999;
    	padding: 15px;
	margin-left: 10px;
	margin-right: 10px;
}
#map {
	width: auto;	
	height: 350px;
	margin: 20px 20px;
}

#noticias {
	/*width: 200px;
	position: absolute;*/
	background: #3B6895;
}
/*
#search_button{
	  background: -moz-linear-gradient(center bottom , #3B6895 50%, #4477AA 100%) repeat scroll 0 0 #4477AA;
	  border-style: solid;
	  border-width: 1px;
	  color: #FFFFFF;
	  border-radius: 3px 3px 3px 3px;
	  padding: 10px 30px;
}*/
#footer{
	background: #cccccc;
	margin: 20px 20px 20px 20px;
	padding: 10px;
}

input.btn {
	background: -webkit-gradient(linear, center bottom, center top, from(#3B6895), to(#4477AA));
	border-style: solid;
	border-width: 1px;
	color: #121212;
	border-radius: 3px 3px 3px 3px;
	padding: 10px 20px;
}

.btn:hover {
	
}
/*
#route_button{
	background: -moz-linear-gradient(center bottom , #3B6895 50%, #4477AA 100%) repeat scroll 0 0 #4477AA;
	border-style: solid;
	border-width: 1px;
	color: #121212;
	border-radius: 3px 3px 3px 3px;
	padding: 10px 20px;
}

#chat_button{
	  background: -moz-linear-gradient(center bottom , #3B6895 50%, #4477AA 100%) repeat scroll 0 0 #4477AA;
	  border-style: solid;
	  border-width: 1px;
	  color: #FFFFFF;
	  border-radius: 3px 3px 3px 3px;
	  padding: 10px 30px;
	  margin-left: 10px;
}
*/